@import url(../css/reset.css);
@import url(../css/menu.css);
@import url(../css/rodape.css);
@import url(../css/main.css);
@import url(../css/secao-imagem.css);


html {
    overflow-x: hidden;
}

body, html {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
    background-color: rgb(241, 241, 241);
}

h1 {
    font-weight: bold;
    font-family: sans-serif;
}
