body {
  overflow-x: hidden;
}

.container {
  width: 90vw !important;
}

header {
  /* background-color: #333; */
  width: 100vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

