body {
    background-color: #feeeff;
  }
  .container {
    /* border: 1px solid #000; */
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-top: 20px;
  }
  form{
    width: 40vw;
  }
  button {
    width: 13vw;
  }